.jokesOfChuck {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
  }
  
  .value {
    font-style: italic; /* Применяет стиль курсив */
    font-size: 1.4rem;  /* Размер шрифта, можно настроить */
    color: #4219d4;       /* Цвет текста */
    margin-bottom: 15px; /* Отступ снизу */
  }
  
  .image {
    width: 100px; /* Размер изображения */
    height: auto; /* Поддержка пропорций */
  }